@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSANancyExample.NancyUserIdentity>
@using System.Linq
<html>
    <head>
        <title>Nancy - SuperSimpleAuth Demo</title>
    </head>
    <body>
    <table>

    <tr>
        <td>UserName:</td>
        <td>@Model.UserName</td>
    </tr>
   
    
    </table>
    <a href="/logoff">Log Off</a>
    </body>
</html>
