@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.ClaimModel>
@{
  Layout = "_layout.cshtml";
}   

<h4>Create a claim in domain <a href="~/domain/@Model.Domain.Name">@Model.Domain.Name</a>:</h4>
<p>
Claims (or actions), can be used to determine what can be perfomed by a user or role. 
Examples: "Read", "Write"
</p>

@if(@Model.Errors != null && @Model.Errors.Count > 0)
{
    <div class="alert alert-danger alert-dismissable">
    <ul>
    @foreach(var e in @Model.Errors){
        <li>
        @e.Message
        </li>
    }
    </ul>
    </div>
}

<form action="/domain/@Model.Domain.Name/claim/new" method="post">
    <div>
        <label for="Name">Name:</label>
        <input type="text" name="Name" required autofocus />
    </div>
    <br />
    <input class="btn btn-success" type="submit" name="Create" value="Create" />
    <a class="btn btn-default" href="/domain/@Model.Domain.Name">Cancel</a>
</form>
    