@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.CreateRoleModel>
@{
  Layout = "_layout.cshtml";
}   
<h4>Create a role in application <a href="~/app/@Model.App.Name">@Model.App.Name</a>:</h4>

@if(@Model.Errors != null && @Model.Errors.Count > 0)
{
    <ul>
    @foreach(var e in @Model.Errors){
        <li>
        @e.Message
        </li>
    }
    </ul>
}

<form action="~/app/@Model.App.Name/role/new" method="post">
    <p>
        <label for="Name">Name:</label>
        <input type="text" name="Name" required autofocus />
    </p>
    <input type="submit" class="btn btn-success" name="Create" value="Create" />
    <a class="btn btn-default" href="~/app/@Model.App.Name">Cancel</a>
</form>