html,
body {
  background-color:#ffffff;
  background-image:url('../images/bg.jpg');
}
/* Addtions to boostrap classes 
-------------------------------------------------*/
.jumbotron
{
    border: 1px solid black;
}