@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<html>
    <head>
        <title>SSA Alpha v0.1 - Manage Applications</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />

        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" type="text/css" href="/content/css/ss.css" />
    </head>
    <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SSA v0.1alpha</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            @if(@Model.Manager != null)
            {
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @Model.Manager.UserName 
                <b class="caret">
                </b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sign Out</a></li>
                </ul>
              </li>
            }
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <br style="clear:both;"/>
      <br style="clear:both;"/>
      <br style="clear:both;"/>
      <!-- Begin page content -->
      <div class="container" style="border: 1px solid; background-color: #D8D8D8;box-shadow: 10px 10px 5px #888888;">
        @RenderBody()
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">
        <a href="https://github.com/fritzcoder/SuperSimpleAuth">
        GitHub</a> | <a href="https://github.com/fritzcoder/SuperSimpleAuth">Wiki</a> |
        <a href="">Docs</a>
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
