@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Super Simple Auth (SSA) - Alpha v0.1</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="content/css/ss.css" />
    </head>
    <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/logon">Sign In</a></li>
        </ul>
        <h3 class="text-muted">[SuperSimpleAuth] <small>ALPHA</small></h3>
      </div>

      <div class="jumbotron" style="border: 1px solid black;">
        <div style="float:left;">
            <h1>Simple. Secure.</h1>
            <p>Web Authentication and Authorization Service</p>
            <p class="lead">
            @Html.Partial("_signup", Model)
            </p>
        </div>
        <div style="float:right;">
        <h4>Steps:</h4>
            <ol>
                <li> Sign Up or Sign In</li>
                <li> Create an Application</li>
                <li> Download wrapper</li>
            </ol>
            <p>See <a href="https://github.com/fritzcoder/SuperSimpleAuth/wiki">wiki</a> 
            for examples and How Tos.</p>
        </div>
        <br style="clear:both;" />
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Language Support:</h4>
            <ul>
            <li>Mono/.Net C#</li>
            <li>Ruby</li>
            </ul>
            Don't see your favorite language? You can develop your own wrapper from: 
            api.supersimpleauth.com 
        </div>
        <div class="col-lg-6">
        </div>
      </div>

      <div class="footer">
        <p>&copy; SuperSimpleSuperRad 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>