@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSANancyExample.SignupModel>
<html>
    <head>
        <title></title>
    </head>
    <body>
      
      @if(@Model.Errors != null)
      {
        <ul>
        @foreach(var e in @Model.Errors){
            <li>
            @e
            </li>
        }
        </ul>
       }
       <b>@Model.Message</b>
        <form action="/signup" method="post">
        <div>
            <label for="UserName">Username</label>
            <input type="text" name="UserName" />
        </div>
        <div>
            <label for="Email">Email Address:</label>
            <input type="text" name="Email" />
        </div>
        <div>
            <label for="Secret">Password</label>
            <input type="password" name="Secret" />
        </div>
        <div>
            <label for="ConfirmSecret">Confirm Password</label>
            <input type="password" name="ConfirmSecret" />
        </div>
        <div>
            <input type="submit" name="Signup" value="Signup" />
        </div>
        </form>
    </body>
</html>