@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyStatelessJwt.NancyUserIdentity>
@using System.Linq
<html>
    <head>
        <title>Nancy - SuperSimpleAuth Demo</title>
    </head>
    <body>
    <table>
    <tr>
        <td>UserName:</td>
        <td>@Model.UserName</td>
    </tr>

    <tr>
        <td>JSON web token:</td>
        <td>@Model.Jwt</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>AuthToken:</td>
        <td>@Model.AuthToken</td>
    <tr>
        <td>Claims:</td>
        <td>
        <ul>
        @if(Model.Claims != null && Model.Claims.ToArray().Length > 0)
        {
            foreach(string claim in Model.Claims)
            {
                <li>@claim </li>
            }
        }
        else
        {
            <li>Has no claims</li>
        }
        </ul>
        </td>
    </tr>
    
    </table>
    <a href="/logoff">Log Off</a>
    </body>
</html>
