body
{
    background-color:#0ffffff;
    background-image:url('../images/bg.jpg');
    height: 100%;
    text-shadow: 0px 1px 1px #A4A4A4;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #000000;
  color:black;
  box-shadow: 10px 10px 5px #888888;
  border-top: groove 4px black;
}