@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SuperSimple.Auth.Manager.SignupModel>
      
@if(@Model.Errors != null && @Model.Errors.Count > 0)
{
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <ul>
    @foreach(var e in @Model.Errors){
        <li>
        @e.Message
        </li>
    }
    </ul>
    </div>
}

<div style="width: 300px;">
<form class="form-signin" action="/signup" method="post">
    <input type="text" name="Email" class="form-control" placeholder="Email address" style="margin:5px;" required autofocus />
    <input type="password" name="Secret" class="form-control" placeholder="Password" style="margin:5px;" required />
    <input type="password"  name="ConfirmSecret" class="form-control" placeholder="Confirm Password" style="margin:5px;" required />
	<br />
    <button class="btn btn-lg btn-primary btn-block" name="Signup" style="margin:5px;" type="submit">Sign Up</button>
</form>
</div>
    