@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.AdminModel>
@{
  Layout = "_layout.cshtml";
}

@if(@Model.Domain.IsOwner(Model.Manager))
{
    <div style="width: 325px;margin-left: auto;margin-right: auto ;">
    <h2><i class="fa fa-user-o" aria-hidden="true"></i> Administrator Details</h2>
    <form action="/remove/@Model.Domain.Id/admin/@Model.Admin.Id" method="post">
        <h3>@Model.Admin.UserName</h3>
        <a class="btn btn-default" href="/domain/@Model.Domain.Id">Cancel</a>
        <input type="submit" class="pull-right btn btn-danger" name="Delete" value="Delete" />
    </form>
	</div>
}