@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.AdminModel>
@{
  Layout = "_layout.cshtml";
}

@if(@Model.Domain.IsOwner(Model.Manager))
{
    <h4>Add a administrator</h4>
    <form action="/remove/@Model.Domain.Id/admin/@Model.Admin.Id" method="post">
        <p>
            <label for="Name">Email:</label><br />
            <span>@Model.Admin.UserName</span>
        </p>

        <a class="btn btn-default" href="/domain/@Model.Domain.Id">Cancel</a>
        <input type="submit" class="pull-right btn btn-danger" name="Delete" value="Delete" />
    </form>
}