@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.CreateRoleModel>
@{
  Layout = "_layout.cshtml";
}   
<div style="width: 325px;margin-left: auto;margin-right: auto ;">
<h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> Create a Role</h2>
<form action="~/domain/@Model.Domain.Id/role/new" method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" name="Name" class="form-control" placeholder="New role in domain: @Model.Domain.Name" required autofocus />
    </div>
	<input type="submit" class="btn btn-success" name="Create" value="Create" />
    <a class="btn btn-default" href="~/domain/@Model.Domain.Id">Cancel</a>
</form>
<br />
<br />
</div>