<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation>
      <assemblies>
        <add assembly="Nancy" />
        <add assembly="Nancy.Hosting.Aspnet" />
        <add assembly="FluentValidation" />
        <add assembly="Nancy.Validation.FluentValidation" />
        <add assembly="Nancy.ViewEngines.Razor" />
        <add assembly="Nancy.Authentication.Forms" />
        <add assembly="MongoDB.Bson" />
        <add assembly="MongoDB.Driver" />
        <add assembly="System.Web.Razor.Unofficial" />
        <add assembly="System.Linq.Dynamic" />
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="db" value="mongodb://localhost" />
    <add key="smtp:Server" value="smtpcorp.com" />
    <add key="smtp:Port" value="2525" />
    <add key="smtp:Logon" value="supersimpleauth" />
    <add key="smtp:Password" value="" />
  </appSettings>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>